version: "3.9"

services:
  app:
    build: .
    container_name: cleanarch-api
    restart: unless-stopped
    env_file:
      - .env.docker
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis

  db:
    image: postgres:16-alpine
    container_name: cleanarch-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: cleanarch
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  redis:
    image: redis:8-alpine
    container_name: cleanarch-redis
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  db-data: